<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guyotro_larabia_project">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guyotrolarabiaproject">
        <activity android:name=".FelicitationCultureActivity"></activity>
        <activity android:name=".ModuleCultureActivity" />
        <activity android:name=".FelicitationOpActivity" />
        <activity android:name=".ErreurOpActivity" />
        <activity
            android:name=".OperationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ExerciceCultureActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".ModuleQuotienActivity" />
        <activity android:name=".ModuleOperationsActivity" />
        <activity android:name=".TableMultiplicationActivity" />
        <activity android:name=".ModuleMultiplicationActivity" />
        <activity android:name=".ModuleMathsActivity" />
        <activity android:name=".ChoixMatiereActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>